* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 40px 30px;
  /* padding-bottom: 40px; */
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.flex {
  display: flex;
  /* margin-top: 15px; */
}

ul li {
  list-style-type: none;

  margin-left: 20px;
  margin-right: 20px;
}

/* .noShow {
  display: none;
} */

.topnav img {
  height: 30px;
  width: 100px;
  margin-top: -4px;
}
